configuration {
	modes: "power:rofi-powermenu";
	location: 3;
	yoffset: 28;
	xoffset: -32;
	show-icons: false;
	disable-history: false;
}

@theme "catppuccin-mocha"

* {
	width: 250;
	height: 420;
	theme: #f38ba8;
}

listview {
	margin: 20px 20px 10px 20px;
	lines: 6;
}

button {
	cursor: default;
}
